.majorContainer{
    position: fixed;
    background-color: rgba(172, 172, 172, 0.315);
    top:0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeIcon{
    float: right;
    font-weight: 800;
    font-family: 'quicksand';
    background-color: #ffcc02;
    padding: 2px 7px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.6;
}
.closeIcon:hover{
    opacity: 1;
}
.formCtn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 50%;
    height:400px;
    border-radius: 8px;
    padding: 16px 10px;
}
.formCtn div{
    width: 100%;
}
.formCtn h2{
    font-family: 'quicksand';
}

.inpCtn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: fit-content !important;
    margin: 25px auto;
}
.inpCtn label{
    position: absolute;
    text-align: left;
    font-size: 12px;
    background-color: #fff;
    margin-left: 10px;
    line-height: 4px;
    padding: 0px 6px;
    font-weight: 700;
    font-family: 'quicksand';
}
.inpCtn input{
    width:400px;
    border:2px solid #ffcc02;
    font-size: 13px;
    padding: 14px 13px;
    border-radius: 4px;
    margin-top: 2px;
}
.inpCtn div{
    width:400px;
    border:2px solid #ffcc02;
    font-size: 13px;
    padding: 20px 13px;
    border-radius: 4px;
    margin-top: 2px;
}
.typeCtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.typeCtn img{
    height: 26px;
    opacity: 0.6;
    transition-duration: 0.2s;
    cursor: pointer;
}
.typeCtn img:hover{
    opacity: 1;
}

.selected{
    opacity: 1 !important;
}

.btnCtn button{
    padding: 5px 20px;
    border: none;
    background-color: #ffcc02;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'quicksand';
    border-radius: 4px;
}